.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: 0.72222rem;
    font-weight: normal;
    margin-bottom: 1.11111rem;
    padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
    position: relative;
    transition: opacity 300ms ease-out;
    background-color: #008CBA;
    border-color: #0078a0;
    color: #FFFFFF;
}
.alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF;
}
#episode .nav_section {
    background-color: #F5F5F5;
    border: solid 1px #bbb;
    border-top: none;
    padding: 10px 20px;
    position: relative;
}
#comments {
    margin-top: 10px;
}
.comment {
    margin: 20px 0;
    position: relative;
}
.comment .avatar {
    float: left;
    border: solid 1px #ccc;
    color: #FFF;
    padding: 4px;
}
.comment .avatar img {
    display: block;
}
.comment .actions {
    margin-bottom: 12px;
}
.comment .user_actions {
    position: absolute;
    top: 72px;
}
.actions {
    margin: 8px 0;
}
.comment .main {
    margin-left: 83px;
}
.comment .headline {
    padding: 5px 14px;
    font-size: 12px;
    background-color: #DDD;
    border: solid 1px #bbb;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
    background: -moz-linear-gradient(top, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
}
.comment .name {
    font-weight: bold;
}
a {
    color: #1B97F2 !important;
    text-decoration: none;
}
.comment .created_at {
    color: #666;
    padding-left: 8px;
}
.comment_content {
    padding: 1px 15px;
    background-color: #FFF;
    border: solid 1px #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}
.clear {
    clear: both;
}
.nested_comments {
    margin-left: 83px;
}